doctype html
html
    head
        title Natours | #{tour}
        link(rel="stylesheet", href="/css/style.css")
    body
        h1= tour  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dicta sint molestias ea asperiores necessitatibus officiis, recusandae obcaecati aut provident a aperiam voluptatum quo, incidunt corrupti fuga velit, quibusdam illo.
